# Python
backend-python/venv/
backend-python/xina/
backend-python/__pycache__/
backend-python/**/__pycache__/
backend-python/*.pyc
backend-python/.env

# Node / Expo
frontend-mobile/node_modules/
frontend-mobile/.expo/
frontend-mobile/dist/
frontend-mobile/build/

# OS
.DS_Store
Thumbs.db

# Docker
backend-python/mysql_data/
frontend-mobile/.env
